/* Principal */

/* Prefixed by https://autoprefixer.github.io*/

*{
    margin:0;
    padding:0;
    text-decoration: none;
}
html, body{
    background-color: #282a49
}
header{
    margin: 2rem;
    flex: .5;
}
.dad{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
}
.container{
    background-color: #737DEB;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 25px;
    padding: 2rem;
    margin: 2rem;
    color: #e2c051;    
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.redirect{
    width: 20rem;
    font: bold 1.5rem Arial, sans-serif;
    padding: 3rem 1.5rem;
    margin: 2rem;
    border-radius: 15px;
    text-align: center;
    color: #0f1435;
    -webkit-box-shadow: 10px 10px 15px 0px #00000040;
            box-shadow: 10px 10px 15px 0px #00000040;
}
.bt-color{
    background-color:#3E469E;
    color:#cbd0ff;
}
.bt-color:hover{
    background-color: #4b52a1
}
.bt-color:active{
    background: #666dc5;
    -webkit-box-shadow: 0 0;
            box-shadow: 0 0;
}
.dark-font{
    color:#282a49;
    font: bold 1rem Arial, sans-serif;
}
.centraliser{
    justify-content: space-around;
    align-items: center;
    margin: .5rem;
}
.center-text{
    text-align: center;
    margin: 0.2rem;
}


/* Data boards */


.error-message{
    font-size: 1.2rem;
    color: crimson;
    margin: .5rem;
}

.info-search{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.rows{
    display: flex;
    flex-direction: row;
}

.columns{
    display: flex;
    flex-direction: column;
}

.content-box{
    justify-content: space-around;
    align-items: end;
    flex: 1;
    margin: 0 3rem;
    font-size: 1rem;
}

.flex2-box{
    flex: 2;
}
.flex1-box{
    flex: 2;
}

.switch-button{
    font: bold 1.15rem Arial, sans-serif;
    width: 13rem;
    padding: .6rem 1rem;
    margin: 2rem 1rem;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #737DEB;
    -webkit-box-shadow: 5px 5px 10px 0px #00000040;
            box-shadow: 5px 5px 10px 0px #00000040;
}

.src-button{
    font: bold 1rem Arial, sans-serif;
    padding: .6rem 1rem;
    margin: 1rem 0.25rem 1rem 1.5rem;
    justify-self: center;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #353a77;
}

input{
    font-size: 1rem;
    padding: .1rem;
    margin: .1rem;
    outline: none;
}

.txInput{
    padding: .25rem;
    font-size: 1rem;
    margin: .5rem 0rem;
    border-radius: 0;
    border:0;
    background-color: #cbd0ff;
    color: #1c2038;
    width: 10rem;
}   

.dt-input{
    border-right-width:0;
    border-top-width:0;
    border-left-width:0;
    background-color: #737DEB;

    border-bottom-width:2px;
    border-color: #1c2038;
    color: #1c2038;
}

.lil-margin{
    margin: 0 .7rem;
    text-align: center;
    color: #1c2038;
    font-weight: bold;
}

.no-display
{
    display: none;
}

.space-up{
    margin-bottom: 1rem;
}
.space-down{
    margin-top: 2rem;
}


/* Menu retratil */


div.menu-dad{
position: absolute;
}
nav>h1{
    display: none;
}

.pointer{
    cursor: pointer;
}
.menu-margin{
    margin: 1rem 0rem 0rem 1rem;
}

#menu-check{
    display: none;
}

div.menu-bar{
    background-color: #00000022;
    display: flex;
    flex-direction: column;
    padding: .5rem 0rem;
    color: #f5f5f599;   
    width:fit-content;
    height: 30rem;
    transition-duration: .25s;
    transform: translateX(-500px);
}

li.menu-box{
    width: 15rem;
    font: bold 1.2rem Arial, sans-serif;
    background-color:#00000044;
    padding: 1rem .5rem;
    margin: .2rem 0rem;
    color: whitesmoke;
    position: relative;
    transition-delay: .5s;
    transform: translateY(300px);
}

li.menu-box:hover{
 background-color:#00000066;
}

li.menu-box:active{
    background-color: #99999966;
}

li.menu-leader{
    width: 10rem;
    font: bold italic 1.5rem "Times New Roman";
    padding: 0rem .5rem;
    margin: .5rem 0rem;
    align-self: center;
    text-align: center;
    /* border-bottom-width: 2px;
    border-bottom-color: #999999AA;
    border-bottom-style: solid; */
    color:#DDDDDDAA ;
}

.menu-leader:hover{
    color:#FFFFFFAA
}

.ph-x{
    display: none;
}

#menu-check:checked ~ div>label>i.ph-x{
    display: block;
    color: #0f1435;
}

#menu-check:checked ~ div>label>i.ph-list{
    display: none;
    color: #0f1435;
}

#menu-check:checked ~ .menu-bar{
    transform: translateX(0);
    transition-duration: .5s;
}

#menu-check:checked ~ div > ul> div> ul> a > li.menu-box{
    transition-delay: .1s;
    transition-duration: .25s;
    transform: translateY(0px);
}
.drop-content{
    position: absolute;
    transform: translateY(-1000px);
}

input.drop-btn:checked ~  ul.drop-content{
    position: relative;
    transition-delay: .1s;
    transition-duration: .15s;
    transform: translateY(0px);
}

input.drop-btn:checked ~ li.menu-leader{
    align-self: baseline;
    text-align: left;
    margin-top: 1rem;
    color: #FFFFFFAA;
    font-style: normal;
}

/* Login */

.login-input{
    width: 15rem;
    border-radius: 30px;
    border: 2px solid #666dc5;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
.login-btn{
    margin: 1rem;
}
